.navigator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  top: 0;
  position: fixed;
  width: 100%;
  background: black;
}
.logo {
  margin-left: 2rem;
}
.listItems {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.listItemContainer {
  padding: 1rem 1rem;
}
.singleItem {
  margin-right: 1rem;

  border: 1px solid black;
  background: grey;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.singleItem:hover {
  background: #242424;
  color: grey;
}
.singleItem:hover .navigator {
  background: white;
}
.singleItem a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  /* letter-spacing: 0.5px; */
}
